.container {
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161535;
}

.container .backgroundImage {
    max-width: 12em;
    aspect-ratio: 1;
    /* object-fit: cover; */
}

.controls {
  display: grid; 
  grid-template-columns: 1fr 20em 2.5em 15em 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 10px 36px; 
  grid-template-areas: 
    ". a . b ."
    ". c . d ."; 
  /* height: 30em;  */
  flex-grow: 1;
  align-items: center;
}