.container {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 3;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161535;
}

.container .backgroundImage {
    max-width: 12em;
    aspect-ratio: 1;
    /* object-fit: cover; */
}
